.Main {
  height: 100%;
  border-radius: 10px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.DieContainer {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.roll-dice {
  height: 50px;
  white-space: nowrap;
  width: auto;
  padding: 6px 21px;
  border: none;
  border-radius: 5px;
  background-color: #5035ff;
  color: white;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  cursor: pointer;
}
